@charset "EUC-JP";

/*

����������ɤ��Ƥ������������꤬�Ȥ��������ޤ���

�ץ饰�����������б��ˤʤäƤ��ޤ���

�������Ƥ˳�������֥����ǤΤ����ѤϤ���θ����������

�Ĵ�Ū�ʥ���ƥ��
��ˡ�����Ƥ򰷤����
����Ū�ʥ���ƥ��
����Ū�����Ƥ򰷤����

������ȥ���ƥ�Ĥ˴ؤ��ޤ��Ƥϡ��Ŀͤμ�̣���ϰϤǤ����OK�Ǥ���

��������ȥ꡼�ˤƥƥ�ץ졼�Ȥ����ѵ��󤬤���ޤ��Τǡ�
�ܤ��̤��Ƥ���������Ȥ��꤬�����Ǥ���
�ƥ�ץ졼�Ȥν������������Ƥ⤳����Ǥ���
  
http://cloudyvanilla.blog26.fc2.com/

 */

/* �֥饦���Υǥե���Ȥ˰�¸���ʤ��褦�����ƤΥޡ�����ȥѥǥ��󥰤�0�ˤ��Ƥ��ޤ� */
* {
   margin: 0;
   padding: 0;
   word-break:break-all;
}

<!-->
/* html�ʥ���������С��ο����꤬ȿ�Ǥ����Τ�IE�Τߡ� */
html {
        scrollbar-face-color: #ffffff; /* �С��ο� */
        scrollbar-3dlight-color: #ffffff; /* ���峰¦�饤�� */
        scrollbar-highlight-color: #dcdcdc; /* ������¦�饤�� */
        scrollbar-shadow-color: #ffffff; /* ������¦�饤�� */
        scrollbar-darkshadow-color: #d3d3d3; /* ������¦�饤�� */
        scrollbar-arrow-color: #b0c4de; /* ��� */
        scrollbar-track-color: #f5f5f5; /* �ȥ�å���ʬ */
}
-->

/*---------------------------------------------------------
�֥������Τγ�����ʬ
---------------------------------------------------------*/
#container {
	position:relative;
	width: 1000px;
                text-align:left;
	margin:0 auto;                
	background: url() no-repeat;
}


/*�����Τ����ꡡ--------------------------------------------*/

 body{
           text-align:center; /* IE�ΥХ������Ѥ������������ */
          /* ���������ʸ��������򤷤Ƥ��ޤ� */
           text-align: left; /* ʸ���򺸤����� */
           line-height: 1.6; /* ʸ���ֳ� */
           font-size: 12px; /* ʸ�������� */
           font-family:arial unicode ms; /* ʸ������ */
           color: #999999; /* ʸ���� */
       /* �طʤ����ꤷ�Ƥ��ޤ����������ѹ�������ϡ�background��url()��β����λ�������ѹ����Ƥ������� */
            background:url(http://blog-imgs-40-origin.fc2.com/c/l/o/cloudyvanilla/darksky.jpg) ;         
                    background-color: #000000; 
            background-attachment:fixed; 
            background-position:center ;/*���� */
            margin:0;
            padding:0;
}

/* ���ʸ�� ---------------------------*/

a {
        text-decoration: none; /* ����̵�� */
        color: #eeeeee; /* ʸ���� */
}

/* ����������֤����Ȥ��Υ��ʸ�� */
a:hover {
        text-decoration: none; /* ���� */
        color: #666666; /* ʸ���� */
}

/* ���᡼���˥�󥯤�Ž�ä��Ȥ������� */
a img {
       border : none; /* ��̵�� */
}

/* �����ΰ������ -----------------------*/

input,textarea,select,button,submit {
        color:silver;/* ʸ���� */
        background-color: #000000; 
        border: 1px solid  #666666;
}


/* ��ʸ�� ------------------------------*/

img.emoji {
        vertical-align: middle; /* ��� */
        border: 0; /* ��̵�� */
}


/* �ơ��֥륻�����̤�ʸ������ ------------*/

th,td {
        vertical-align: top; /* ��� */
}


/*���ĥ꡼����---------------------------*/

ul {
       padding:0px;
       margin:0px;
       list-style-type:none;
}


ul li {
      margin:0px;
      padding: 0px 0px 1px 21px;
      background: url(http://blog-imgs-24-origin.fc2.com/c/l/o/cloudyvanilla/cloudy-vanilla-tree.gif) no-repeat;
}
/* �ڡ�����ư ------------------------------*/

.entry_navi {font-size: 12px; /* ʸ�������� */
        text-align: center;
        margin-bottom: 10px;
        padding: 0px;
}


.page_navi {
       margin: 10px; /* �岼�����˴ֳ֤��äƤ��ޤ� */
       text-align: center; /* ʸ������� */
}



/*�쥤���������� ----------------------------------------------*/


/* ������ʬ�Ⱥ�����������   */

#wrapper {
           float:left;
           width : 793px;
           margin-left:auto;
           margin-right:auto;
           padding-left : auto;
           padding-right : auto;              
}


/* �ᥤ������� */

#main{ 
         float:right;
         width : 580px;  
        /* �����������Ƥ��ޤ� */
         border: 2px solid #666666;
         background-color : ;
         margin-left:auto;
         margin-right:auto;
         padding-left : auto;
         padding-right : auto;
}



/* �إå�����ʬ */

#header {
        width :800px; /* �إå�����ʬ���� */
        height: 150px; /* �⤵�����ꤷ�ޤ� */
        background: url(http://blog-imgs-26-origin.fc2.com/c/l/o/cloudyvanilla/wing-bl.gif) ;
        background-repeat:no-repeat; /* �طʤ򷫤��֤��ʤ� */
        background-position:left top ; /* ���� */
        margin-top:20px;
        margin-left:auto;
        margin-right:auto;
        padding-left : auto;
        padding-right : auto;
}

/* ������������ */

#left{
        float:left;    
        width:200px;
        margin:0 auto; /* �����ޡ������ư���Ф��ƥ��󥿥�� */
        padding :0 auto;
}


/* ������������ */

#right{ 
        float:right;       
        width:200px;
        margin:0 auto; /* �����ޡ������ư���Ф��ƥ��󥿥�� */
        padding :0 auto;
}


/*���եå��������ꡡ*/

#footer { 
        width: 580px;
        height: 75px;
        clear: both;
        text-align:center;
        background-position:center;        
        padding: 15px 0px 0px 0px;/* ��¦;��Ĵ�� �屦���� */
        margin-left:auto;
        margin-right:auto;
        margin-bottom:10px;
        margin-top :10px;
}



/*������ȥ꡼��ʬ�����ꡡ*/

#entry_top {
       width:500px;   
        overflow: hidden;
       background: url(http://blog-imgs-40-origin.fc2.com/c/l/o/cloudyvanilla/wing-blk.gif) ;
       background-repeat:no-repeat; /* �طʤ򷫤��֤��ʤ� */
       background-position:left; /* ���� */       
       margin:0 10px 0 10px;
        padding: 0px 0px 0px 50px;/* ��¦;��Ĵ�� �屦���� */
}


.entry_body {
        width: 560px;
         overflow: hidden;
      /* ��������������������ϡ�background��url()��β����λ�������ѹ����Ƥ������� */

       background: url(http://blog-imgs-40-origin.fc2.com/c/l/o/cloudyvanilla/feather-dark00.gif) no-repeat;  
 ������background-repeat:no-repeat; /* �طʤ򷫤��֤��ʤ� */
        background-position:center; /* ���� */
        margin: 0 0px 0 10px; /* �岼�����˴ֳ֤��äƤ��ޤ� */
        padding-left : auto;
        padding-right : auto;
}
#entry_bottom {        
        margin: 10px; /* �岼�����˴ֳ֤��äƤ��ޤ� */
        padding-left : auto;
        padding-right : auto;
}

/*�������Υƥ��������ꡡ----------------------------*/

.top_title {
        width :750px; 
        font-size: 26px; 
        font-weight: bold;
        text-align: center;
        margin: 10px;
        padding: 50px 0px 0px 10px;
}

/* �̾ˬ��Ѥߥ�󥯥��顼 */
.top_title a:link { color: silver;
                   text-decoration : none;}

/* �ޥ������˽Ťͤ�����󥯥��顼 */
.top_title a:hover{ color: #666666; /* ʸ���� */
                   text-decoration : none;}


.site_info {text-align:center;
        margin: 10px;
        padding: 0px 0px 0px 20px;
        font-size: 15px;
}

.entry_title {
        font-size: 18px;
        color:#FF99FF;
        text-align :left;
        font-weight: bold;
        border-bottom:1px solid #eeeeee;   /* �饤���񤤤Ƥ��ޤ� */
        margin:0 auto; /* �����ޡ������ư���Ф��ƥ��󥿥�� */
        padding: 35px 0px 0px 20px;
}

.entry_title a {
        text-decoration: none; /* ����̵�� */
        color: #666666; /* ʸ���� */
}

.entry_title a:hover {
        text-decoration: none; /* ���� */
        color: silver; /* ʸ���� */
}

.entry_text {
        font-family:arial unicode ms; /* ʸ������ */
        font-size:12px;
        text-align: left;
        line-height: 1.5;
        letter-spacing: 1px;
        margin:0 ; 
        padding: 0px 10px 30px 10px;/* ��¦;��Ĵ�� �屦���� */
}


.entry_date {
       font-family: Georgia;
       font-size:20px;
       text-align : right;
       overflow:hidden; /* �Ϥ߽Ф�����ʬ�򱣤� */
       padding: 0px;
       margin-bottom:15px ;
 }

.entry_date a {
        text-decoration: none; /* ����̵�� */
        color: silver; /* ʸ���� */
}

.entry_date a:hover {
        text-decoration: none; /* ���� */
        color: #666666; /* ʸ���� */
}



/* ���ơ����� */

.entry_state {
        font-family:arial unicode ms; /* ʸ������ */
        text-align: right; /* ʸ������ */
        font-size: 12px; 
        padding: 0px;
        margin:0 ; 
}


/*�ȥ�å��Хå�  -----------------------------------*/

.trackback_url {
margin:5px 0 5px 0px;
padding :10px;
}

.trackback_textarea {
display:block;
width:370px;
height:16px;
margin:1px 0;
border:1px solid #666666;
background:#000000;
}

.trackback_referer {
font-weight:700;
margin:5px 0 10px 0px;
padding :10px;
}

.trackback_body {
margin:5px 0 5px 0px;
padding:0;
}

.trackback_state {
border-top:solid 1px #666666;
text-align:right;
margin:5px 0 10px 0px;
padding :10px;
}




/*�����ȥ��ꥢ  ----------------------------------*/
.comment_title {
width:500px;
background: url(http://blog-imgs-40-origin.fc2.com/c/l/o/cloudyvanilla/wing-blk.gif) ;
background-repeat:no-repeat; /* �طʤ򷫤��֤��ʤ� */
background-position:left; /* ���� */
border-bottom:1px solid #666666;   /* ���˥饤���񤤤Ƥ��ޤ� */
margin:0 0 0 10px;
padding:0;
}

.comment_body {
margin:10px 5px 15px 10px;
padding: 10px 20px 10px 10px;
}

.comment_state {
width:500px; 
text-align:right;
border-bottom:1px solid #666666;   /* ���˥饤���񤤤Ƥ��ޤ� */
margin:5px 10px 10px 10px;
}

.comment_form {
margin:0 0 0 10px;
padding :10px 10px;
background:transparent;
}

.form_text,.form_text2 {
display:block;
width:150px;
height:16px;
border:1px solid #666666;
background:;
}
.form_text2 {
width:250px;
}
.form_textarea {
display:block;
width:350px;
border:1px solid #666666;
background-color: #000000; 
background: url() no-repeat right bottom;
}

.form_button {
color: #666666; /* ʸ���� */
border:1px solid #666666;
background:;
margin:5px 0;
}

.form_button2 {width:500px; 
color: #666666; /* ʸ���� */
border:1px solid #666666;
background:;
}

form label {
display:block;
}

form label.secret {
display:block;
margin-bottom:5px;
}

/* �����ȥꥹ�Ȥ�����  ----------------------------*/

.sidehide{display:none;}

.topentry_comment_body{
       width:500px; 
       font-size: 12px;
       border-bottom:1px solid #666666;   /* �饤���񤤤Ƥ��ޤ� */
       padding:10px 10px 15px 10px;
       margin:0px 0px 0px 10px;
}

.comment_title {
        width:500px; 
        height: 50px; /* �⤵�����ꤷ�ޤ� */
        font-size: 12px;
        color: silver; /* ʸ���� */
        text-align: left;
        font-weight: bold;
        margin:0px 0px 15px 10px;
        padding:15px 0px 0px 70px;
}

.come-list {
        width:580px; 
        font-size: 15px;
        font-weight: bold;
        color: #666666; /* ʸ���� */
        text-align: center;
        margin: 0px;
        background: url() no-repeat;
        background-position : center;
}



/*����˥塼�ξܺ����ꡡ---------------------------------*/

.sidemenu_block { 
        font-size: 12px;
        /* �����������Ƥ��ޤ� */
         border: 2px solid #666666;
        margin:0 0 10px;
        padding: 5px 5px 0px 5px;/* ��¦;��Ĵ�� �屦���� */
        overflow:hidden; /* �Ϥ߽Ф�����ʬ�򱣤� */
        background-color: ;   
}

.sidemenu_block1 { 
        font-size: 12px;
        /* �����������Ƥ��ޤ� */
         border: 2px solid #666666;
        margin:0 0 10px;
        padding: 5px 5px 0px 5px;/* ��¦;��Ĵ�� �屦���� */
        overflow:hidden; /* �Ϥ߽Ф�����ʬ�򱣤� */
        background-color: ;   
}
.sidemenu_title {
         text-align :center;
         font-weight: bold;
         font-size: 13px;
         color: silver; /* ʸ���� */
         height: 20px;
         background: url() no-repeat;
         overflow:hidden; /* �Ϥ߽Ф�����ʬ�򱣤� */
         margin-right: 5px;
         margin-rleft:5px;
         padding: 15px 0px 10px 10px ;
}


.sidemenu_area {
        text-align: left;
        margin-top : 10px;
}



/* �ץ饰����Υ������������� */

/* ������������---------------------------*/
.calender{
	width:150px;
	margin:0 0px 0 5px;
}

.calender caption{
}

.calender th{
	text-align:center;
}

.calender td{
	text-align:center;
}

.calender td a{
	text-decoration:underline;
}

.ads{
	color:#2124A5;
}

.categories td{
	width:22px;
}





/* ���������������� -------------------------------*/

.line_calendar { 
      font-size : 11px;  
      color: #666666; /* ʸ���� */
      text-align:center; 
      font-family : Georgia;
      margin: 20px 30px 5px 20px;
      padding-top : 5px;
} 

.line_cal_day { 
      margin-left:3px; 
      margin-right:3px;
}

.line_calendar a {
      text-decoration: none; /* ����̵�� */
      color: silver; /* ʸ���� */
}

.line_calendar a:hover {
      text-decoration: none; /* ���� */
      color: #666666; /* ʸ���� */
}



/*�ѥ󤯤��ꥹ��-------------------------------------*/

.pankuzu {
      font-size:12px; 
      text-align:left; 
      margin:5px 0px 10px 10px;
} 
.pankuzu a {
      text-decoration: none; /* ����̵�� */
      color: silver; /* ʸ���� */
}
.pankuzu a:hover {
      text-decoration: none; /* ���� */
      color: #666666; /* ʸ���� */
}

.code {
      font-size: 12px;
      font-weight:bold;
      overflow:scroll;
      color: #4a4a4a;
      margin: 3px 3px;
      padding: 3px;
      border: 1px dotted #ffdfdf;
      background: url()
}



/* ����ʸ�� -------------------------------------*/

blockquote {
               width : 480px;
               clear: both;
               font-size:11px;
               /* �����������Ƥ��ޤ� */
               border: 1px solid  #666666;               
               padding: 20px;
              margin:0 auto; /* �����ޡ������ư���Ф��ƥ��󥿥�� */
}



.day_interval{
 padding: 2px;
}


/* MAC��IE�Х����� */
textarea,input,select {
font-family : "\30D2\30E9\30AE\30CE\20Pro\20W3","Osaka","Verdana","Helvetica","Arial","\FF2D\FF33\20\FF30\30B4\30B7\30C3\30AF",sans-serif;
}

/* IE���ԥХ����� */
br {
letter-spacing:normal;
}